@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

.contact {
    margin: 5rem auto;
    width: 50%;
}

body {
    background-image: url('/src/images/svg.svg');
}

.contact h1 {
    text-align: center;
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 900;
}

.contact p {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: normal;
    font-size: medium;
}

.contactform {
    width: 50%;
    height: 700px;
    margin: auto;
    background-color: #fff;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

.contactform h1 {
    padding: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    font-size: 18px;
}

.contactform form {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.contactform form .form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.form .input {
    margin-bottom: 50px;
    width: calc(100% / 2 - 20px);
}

.form .input .details {
    display: block;
    margin-bottom: 5px;
    color: rgb(145, 122, 122);
    font-family: 'Poppins', sans-serif;
}

.form .input input {
    border-bottom: 1px solid rgb(131, 100, 100);
    outline: none;
}

.input input{
    width: 100%;
    height: 45px;
}

.form .input textarea {
    resize: none;
    border-bottom: 1px solid rgb(131, 100, 100);
    outline: none;
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
}

.check label {
    padding-left: 5px;
    color: rgb(145, 122, 122);
    font-family: 'Poppins', sans-serif;
}

.submit {
    padding: 12px 80px;
    border: none;
    border-radius: 7px;
    background: #203B93;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
    font-size: small;
    width: 55%;
    transition: linear 0.6s;
}

.submit:hover {
    background-color: #415baf;
}

.check {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    align-items: center;
}

.address {
    margin: 10rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.add {
    display: flex;
    align-items: center;
}

.add p {
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
}

.add .registrar {
    font-weight: bold;
}

