.newsletter {
    background-color: #203B93;
    background-image: url('/src/images/bck.svg');
    width: 90%;
    margin: auto;
    height: 350px;
    margin-bottom: 40px;
    position: relative;
    border-radius: 10px;
}

.newsletter .news {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newsletter .news h1 {
    font-family: 'Poppins', sans-serif;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
}

.newsletter .sub {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newsletter .sub input[type=text] {
    width: 100%;
    padding: 10px;
    margin-right: 30rem;
    border-bottom: 2px;
    outline: none;
    border-bottom: 2px solid white;
    text-shadow: none !important;
    background: none !important;
}

.newsletter button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    border-radius: 7px;
    background: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    color: #203B93;
    font-size: small;
    font-weight: bolder;
    width: 40%;
    padding: 13px ;
    transition: linear 0.6s;
}

.newsletter button:hover {
    background: rgb(233, 212, 212);
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
}

.ite p{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-left: 10px;   
}

.eulogy p {
    font-family: 'Poppins', sans-serif;
    padding: 20px 5px;
    font-size: 14px;
}

.socials {
    display: flex;
    cursor: pointer;
}

.footer .conttab {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
}

.footer .conttab .tabs {
    padding: 0 50px;
}

.footer .conttab .tabs p {
    font-weight: bold;
    padding-bottom: 20px;
    font-family: 'Poppins', sans-serif;
}

.footer .conttab .tabs ul li{
    font-family: 'Poppins', sans-serif;
    padding-bottom: 15px;
    font-size: 14px;
    cursor: pointer;
}

.footer .touch h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding-bottom: 15px;
}

.footer .touch .midas {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
}

.footer .touch .midas p{
    padding-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.rights{
    margin-top: 4rem;
}

.rights p {
    padding: 15px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
}