@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: inline-flex;
    list-style: none;
}

header .nav p {
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
}

header nav ul li {
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: .8px;
}

header .btn .button1 {
    background-color: #64DD17;
    color: white;
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 14px;
    margin-right: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    transition: linear 0.6s;
    letter-spacing: 1px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

header .btn .button2 {
    background-color: #203B93;
    color: white;
    padding: 10px 25px;
    border-radius: 7px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    transition: linear 0.6s;
    letter-spacing: 1px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
}

header .btn .button1:hover{
    background-color: #7ceb37;
}

header .btn .button2:hover{
    background-color: #3e5cbe;
}

hr {
    width: 90%;
    background-color: #64DD17;
    text-align: center;
    margin: 10px auto;
    height: 1.2px;
}